.workplace{
    background: #fffdd0;
    width: 100%;
    height: 100%;
}
.profile-info{
    margin-left: 50%;
    padding-top: 5%;
}
.info{
    font-size: 25px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: #316dba;
}
.value{
    height: 45px;
    width: 300px;
    margin-top: 10px;
    font-size: 25px;
}
.make-changes{
    background-color: #316dba;
    color: white;
    padding: 16px 20px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 300px;
}
.error{
    color: red;
    padding-left: 55%;
}
