.sidebar{
    position: absolute;
    top:110px;
    width: 300px;
    background-color: #02d5f8;
    height: 98%;
}
.sideButton,.adminSideButton{
    margin-left: 30px;
    margin-top: 40px;
    width: 240px;
    height: 90px;
    font-size: 30px;
    color: #f1f1f1;
    font-style: italic;
    background: #316dba;
    border: none;
}